{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Flip Card Images</title>
    <link rel="stylesheet" type="text/css" href="{% static 'FlipCardNew/hs_memorygame/main.css' %}">
    <script src="{% static 'FlipCardNew/hs_memorygame/main.js' %}"></script>
</head>
<body>
    <div id="scale-wrapper">
        <div id="level-display">
            <span id="current-level">Level: 1</span>
        </div>
        <div id="principal" style="background-image: url('{{ background_image }}');">
            
            {% for card in card_data %}
                <section id="container{{ card.id }}" onclick="caixaClick(this)">
                    <div id="carta{{ card.id }}">
                        <figure id="frente"></figure>
                        <figure id="costa{{ card.id }}" style="background-image: url('{{ card.image_url }}');"></figure>
                    </div>
                </section>
            {% endfor %}
        </div>
        
        <div id="informacoes">
            <span id="span-pontos">Points: 0</span>
            <input type="button" id="botao" value="Next Level" onclick="inicializar()" style="display: none;">
        </div>
    </div>
    <script>
        // Pass card data to JavaScript
        const cardData = {{ card_data|safe }};
        inicializar();
    </script>
</body>
</html>
